@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section scripts{

    <script src="~/game/Build/game.loader.js"></script>

}

<head>
    <link href="/game/TemplateData/style.css" />
    <link href="/game/Build/game.data" />
</head>

<div id="gameContainer">
</div>




<a href="/game/index.html">~/index.html</a>