@model IEnumerable<TaskManager>
@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Parent") || User.IsInRole("Admin")))
{
    <body>
    </body>
    <header>
        <h1><strong>Hello @User.Identity?.Name!</strong></h1>
    </header>

    <div>
        <h4 class="text-center">
            Tasks
        </h4>

    </div>
        <div class="button-container">
            <a class="create-button" asp-controller="Home" asp-action="Create"><img src="~/images/plusIcon.png" width="30px" height="30px" /> Create Task</a>
        </div>

    @if (Model == null)
    {
        <h2 class="error"> No Tasks Created!</h2>
    }

    else
    {
        foreach (TaskManager task in Model)
        {
            <partial name="_TasksLayout.cshtml" for="@task" />

        }
    }



    <div class="game-button-container">
        <a class="game-button" asp-controller="Home" asp-action="Game" id="sendButton"> Play Game</a>
    </div>


}
else if (User.IsInRole("Child"))
{
    <div class="align-middle"><h1 class="text-center error" style="font-size:30px;">There are no tasks! Good Job!</h1></div>
}
else
{
    <div class="align-middle"><h1 class="text-center error" style="font-size:30px;">It seems you aren't logged in! Log in or create a new account for access!</h1></div>

}